.header {
  background-color: #ff9900;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title {
  font-size: 1.5em;
  color: white;
}

.subtitle {
  font-size: 1em;
  color: white;
}

.burgerMenu {
  cursor: pointer;
}

.burgerIcon {
  font-size: 1.5em;
  color: white;
}

.navMenu {
  background-color: #db86078f;
  position: absolute;
  top: 60px;
  right: 40px; /* Ajuste a posição para ficar ao lado do ícone do menu */
  width: 200px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navMenu li {
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.navMenu li:last-child {
  border-bottom: none;
}

.navMenu li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Media Queries */
@media (max-width: 768px) {
  .navMenu {
    top: 72px;
    right: 20px;
    width: 100px;
  }
}
